[submodule "tests/spec"]
	path = crates/wust/tests/spec
	url = https://github.com/WebAssembly/spec.git
[submodule "crates/wust/tests/component-model"]
	path = crates/wust/tests/component-model
	url = https://github.com/WebAssembly/component-model.git
